Repository it-at-m/sitzverteilung, pull requests merged in 2025-08, with the labels that each got.

#117 :recycle: Removed create shortcut functionality from autocomplete
  sitzverteilung-frontend/src/components/basedata/BaseDataAutocomplete.vue
  sitzverteilung-frontend/src/components/basedata/BaseDataForm.vue
  sitzverteilung-frontend/src/composables/useSaveLeave.ts
  sitzverteilung-frontend/src/views/DataView.vue
Labels: Type: Maintenance

#118 :sparkles: Implemented copy functionality
  sitzverteilung-frontend/src/components/basedata/BaseDataAutocomplete.vue
  sitzverteilung-frontend/src/views/DataView.vue
Labels: Type: Feature

#124 fixed button now disabled when name is not changed
  sitzverteilung-frontend/src/views/DataView.vue
Labels: Type: Bug

#125 Feature: Calculation logic for D'Hondt variant
  sitzverteilung-frontend/src/components/basedata/BaseDataAutocomplete.vue
  sitzverteilung-frontend/src/components/basedata/BaseDataForm.vue
  sitzverteilung-frontend/src/components/basedata/groupdata/GroupDataTable.vue
  sitzverteilung-frontend/src/components/basedata/groupdata/GroupDataTableAddRow.vue
  sitzverteilung-frontend/src/components/basedata/groupdata/GroupDataTableRow.vue
  sitzverteilung-frontend/src/components/basedata/groupdata/GroupDataTableSummaryRow.vue
  sitzverteilung-frontend/src/components/basedata/uniondata/UnionDataTable.vue
  sitzverteilung-frontend/src/components/basedata/uniondata/UnionDataTableRow.vue
  sitzverteilung-frontend/src/composables/useGroupStatistics.ts
  sitzverteilung-frontend/src/stores/basedata.ts
  sitzverteilung-frontend/src/types/BaseData.ts
  sitzverteilung-frontend/src/types/basedata/BaseData.ts
  sitzverteilung-frontend/src/types/basedata/Group.ts
  sitzverteilung-frontend/src/types/basedata/Union.ts
  sitzverteilung-frontend/src/types/calculation/CalculationMethod.ts
  sitzverteilung-frontend/src/types/calculation/internal/CalculationGroup.ts
  sitzverteilung-frontend/src/types/calculation/internal/CalculationGroupRatio.ts
  sitzverteilung-frontend/src/types/calculation/internal/CalculationMethodResult.ts
  sitzverteilung-frontend/src/types/calculation/internal/CalculationSeatDistribution.ts
  sitzverteilung-frontend/src/types/calculation/internal/CalculationSeatOrder.ts
  sitzverteilung-frontend/src/types/calculation/internal/CalculationStale.ts
  sitzverteilung-frontend/src/types/calculation/ui/CalculationMethodRowResult.ts
  sitzverteilung-frontend/src/types/calculation/ui/CalculationResult.ts
  sitzverteilung-frontend/src/types/calculation/ui/CalculationRowResult.ts
  sitzverteilung-frontend/src/types/calculation/ui/CalculationRowSeatOrder.ts
  sitzverteilung-frontend/src/utility/calculator.ts
  sitzverteilung-frontend/src/views/DataView.vue
  sitzverteilung-frontend/tests/TestData.ts
  sitzverteilung-frontend/tests/stores/basedata.spec.ts
  sitzverteilung-frontend/tests/utility/calculator.spec.ts
  sitzverteilung-frontend/tests/utility/urlEncoder.spec.ts
Labels: Type: Feature

#128 Maintenance: Fixed decimal check in tests and added Dhondt edge case
  sitzverteilung-frontend/tests/utility/calculator.spec.ts
Labels: Type: Maintenance

#132 Feature: Hare/Niemeyer calculation logic
  sitzverteilung-frontend/src/utility/calculator.ts
  sitzverteilung-frontend/tests/data/dHondt/noStale1.json
  sitzverteilung-frontend/tests/data/dHondt/noStale2.json
  sitzverteilung-frontend/tests/data/dHondt/noStale3.json
  sitzverteilung-frontend/tests/data/dHondt/noStale4.json
  sitzverteilung-frontend/tests/data/dHondt/noStale5.json
  sitzverteilung-frontend/tests/data/dHondt/stale1.json
  sitzverteilung-frontend/tests/data/dHondt/stale2.json
  sitzverteilung-frontend/tests/data/dHondt/stale3.json
  sitzverteilung-frontend/tests/data/hareNiemeyer/noStale1.json
  sitzverteilung-frontend/tests/data/hareNiemeyer/noStale2.json
  sitzverteilung-frontend/tests/data/hareNiemeyer/noStale3.json
  sitzverteilung-frontend/tests/data/hareNiemeyer/noStale4.json
  sitzverteilung-frontend/tests/data/hareNiemeyer/noStale5.json
  sitzverteilung-frontend/tests/data/hareNiemeyer/stale1.json
  sitzverteilung-frontend/tests/utility/calculator.spec.ts
Labels: Type: Feature

#131 Feat/edit base data in calculation
  sitzverteilung-frontend/src/components/TheNavigation.vue
  sitzverteilung-frontend/src/components/basedata/BaseDataForm.vue
  sitzverteilung-frontend/src/components/basedata/TemplateDataAutocomplete.vue
  sitzverteilung-frontend/src/composables/useTemplateData.ts
  sitzverteilung-frontend/src/plugins/router.ts
  sitzverteilung-frontend/src/stores/templatedata.ts
  sitzverteilung-frontend/src/views/CalculationView.vue
  sitzverteilung-frontend/src/views/TemplateView.vue
  sitzverteilung-frontend/tests/stores/templatedata.ts
Labels: Type: Feature
